@using ShoppingCart.Models.ViewModels

@{
    ViewData["Title"] = "Order";
    int total = 0;
}
@model OrderViewModel
<h1>注文確定</h1>
<div class="container">
    <a href="../Items">&lt;&emsp;商品一覧へ</a>
    @foreach (var value in @Model.OrderDetails!) {
        <div class="row m-1">
            <div class="col-md-6 bg-light text-center p-1">
                <h2>@value.Item.ItemNm</h2>
                <h9>JANコード：@value.Item.JanCd</h9>
                <hr class="m-4" />
                <div class="row">
                    <div class="col-md-2">
                        @(string.Format("{0:#,0}", value.Item.Price)) 円
                    </div>
                    <div class="col-md-4">
                        &ensp;×&ensp;@value.Item.Qty&ensp;＝&ensp;@(string.Format("{0:#,0}", value.Item.Qty * value.Item.Price)) 円
                    </div>
                    <div>
                        配送日：
                                @if (value.ScheduledDeliveryAt != null)
                                {
                                    <span>@value.ScheduledDeliveryAt?.ToString("yyyy/MM/dd")</span>
                                }
                                else 
                                {
                                    <span>未設定</span>
                                }
                    </div>
                </div>
            </div>
        </div>
        total += value.Item.Price * value.Item.Qty;
    }
    <hr class="m-9" />
    <h3 class="col-md-12 d-flex justify-content-end">小計：@string.Format("{0:#,0}", total)</h3>
    <h3>お届け先</h3>
    <h4>お名前：@Model.Destination!.Name</h4>
    <h4>〒：@Model.Destination!.Postcode</h4>
    <h4>住所：@Model.Destination!.Address</h4>
    <h4>電話番号：@Model.Destination!.Phone</h4>
</div>
