@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Error";
}
<a href="../cart">&lt;&emsp;カートへ</a>
<h1 class="text-danger">注文が成立しませんでした。</h1>
<p>
    <h2>大変申し訳ありません。 @ViewData["message"]</h2>
</p>
<h3>この注文に対する支払いは発生していません。ご確認の上、再度お試しください。</h3>